version: "3"
services:
  node-app:
#   build: .
#  container_name : node-cont
   build:
    context: .
   # args:
    #- NODE_ENV=development 
    target: development
   ports :
   - 4000:5000
   environment :
   - PORT=5000
   - NODE_ENV=DEVLOPMENT
   #- MONGO_HOST=mongodb://127.0.0.1:27017/dockerdb
   - MONGO_HOST=mongodb://mongo:27017/dockerdb
  # env_file:
  # - ./.env
   volumes:
    - ./src:/app/src:ro
   depends_on:
   - mongo
  mongo:
    image: mongo
    volumes:
    - mongodata:/data/db # named volumed
volumes:   
  mongodata: 
